
body{
    color: #98a6ba;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

i{
    color: #6b788b;
    margin-right: 8px;
}

div{
    padding: 0;
}

.header,
.footer{
    background-color: #2b3643;
    margin: 0;
    padding: 10px 20px 10px 20px;
}

.logo{
    width: 36px;
}

.avatar{
    width: 28px;
}

.container{
    background-color: #f2f3f8;
    padding: 20px;
}

.fa-bars:hover{
    color: #bfc4ca;
}

.fa-opencart{
    margin-left: 26px;
}

.btn{
    border-color: transparent !important;
    color: #b4bcc8;
    font-size: 14px;
    padding: 0;
}

.dropdown-menu{
    display: block;
    position:relative;
    border-radius: 0;
    background: #2C3542;
    min-width: 14rem;
    padding: 0;
    border: 0;
}

.dropdown-menu a{
    color: #b4bcc8;
    border-top: 1px solid #3d4957;
    background-color: #364150;
    padding: 10px 15px;
    font-size: 14px;
}

.dropdown-item:hover,
.dropdown-item:focus{
    background: #2C3542;
    color: #b4bcc8;
}

.dropdown-menu .img1{
    background-image: url("../images/md-header-bg.jpg");
    height: 86px;
    background-size: cover;
}

#home{
    background-color: #36c6d3;
    color: white;
    position: relative;
}

#home i{
    color: white;
}

#home::after{
    content: "";
    position: absolute;
    border: 13px solid;
    border-color: transparent #f2f3f8 transparent transparent;
    right: 0;
    top: calc(50% - 13px);
}

@media (min-width: 992px){
    .control{
        display: block !important;
    }
}