
/* header */

header{
    border-bottom: 1px solid #b2b2b2;
    padding: 20px 0 17px 0;
    border-top: 10px solid #2b3f8d;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img[alt = "logo"]{
    width: 90%;
    height: 90%;
}

header div section:last-child{
    margin-left: 26px;
}

header div section:last-child div:first-child{
    width: 103px;
    margin: auto 0 auto auto;
    display: flex;
    padding-bottom: 3px;
    margin-bottom: 14px;
    border-bottom: 1px solid #bdccd2;
}

header div section:last-child div:first-child a{
    margin-left: 4px;
}

header div section:last-child div:first-child a:first-child{
    margin: 0 10px 0 6px;
    color: #454545;
    text-decoration: none;
}

header .input-group span{
    background: #f2f7f9;
}

header .input-group input{
    border-left: 0;
    background: #f2f7f9;
    width: 210px !important;
    font-size: 12px !important;
}

header .input-group .btn{
    background-image: url("../images/bgr-submit.png");
    font-size: 13px;
    font-weight: 700;
    color: #437b8f;
    border: 1px solid #91cde6;
    padding: 0 14px;
}

.fa-magnifying-glass {
    color: #3533339c;
}


/*  */
header + section{
    background-image: url("../images/bgr-slider.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header + section nav{
    background-color: #0a1f77;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 !important;
}


header + section nav div >a {
    color: white;
    position: relative;
    display: block;
    line-height: 47px;
    font-size: 13px;
    padding: 0 16px;
}

header + section nav div >a::before {
    content: '';
    background: #a7a8a8;
    display: inline-block;
    height: 12px;
    width: 1px;
    position: absolute;
    top: calc(50% - 6px);
    left: -1px;
}

header + section nav div:first-child >a::before{
    display: none;
}

header + section nav div{
    position: relative;
}

header + section nav div ul{
    display: none;
    position: absolute;
    z-index: 1;
    top: 47px;
    background-color: #50bbff;
    width: 260px;
}

header + section nav div ul li{
    padding: 11px 16px;
    border-bottom: 1px solid #96d6ff;
}

header + section .menu_item{
    color: white;
    display: block;
}

header + section .menu_item i{
    font-size: 12px;
    color: white;
}

header + section .menu_item:hover i,
header + section .menu_item:hover{
    font-style: italic;
    color: #0a58ca;
}

header + section nav div:hover{
    background-color: #04518b;
}

header + section nav div:hover ul{
    background-color:  #50bbff;
    display: block;
}

header + section .input-group{
    padding: 9px;
}

header + section > div:nth-child(2){
    background-color: #0a1f77;
    height: 42px;
}

header + section button{
    border: transparent !important;
    padding: 0 16px 0 6px !important;
}

header + section button:focus{
    box-shadow: none !important;
    background-color: transparent !important;
}

header + section button:hover{
    background-color: transparent !important;
}

header + section .form-control,
header + section .input-group-text{
    padding: 0 0.5rem !important;
    background-color: white;
    border: 0;
}

header + section .form-control:focus{
    box-shadow: none;
}


/* main */

/* quickLinkPane */
.quickLinkPane{   
    border-bottom: 1px solid #eee;
    justify-content:space-around ;
}

.quickLinkPane a{
    margin: 0 11.5px 20px 11.5px;
    font-size: 13px;
    font-weight: 500;
}

.quickLinkPane a div{
    color: #001373;
    width: 76px;
    text-align: center;
}

.quickLinkPane img{
    object-fit: contain;
    width: 100%;
    height: 25px;
    margin-bottom: 14px;
}


/* content_1 */
.content_1 {
    margin: 25px 0;
}

.content_1 .row >div{
    margin: 20px 0;
}

.content_1 .item b{
    display: block;
    margin: 16px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.content_1 .item div{
    line-height: 19px;
}

.content_1 .button{
    display: flex;
    justify-content: center;
}

.content_1 button{
    width: 50%;
    padding: 11px 0;
    margin-bottom: 6px;
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}

.content_1 .col-lg-4 ul{
    list-style: disc;
    width: 90%;
    margin-left: auto;
}

.content_1 li{
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.content_1 li a{
    color: #111111;
    line-height: 20px;
    font-size: 14px;
}

.content_1 ul >a{
    display: inline-block;
    margin-top: 10px;
    float: right;
    color: rgb(2,139,255);
}

.content_1 .col-lg-4 ul >a i{
    font-size: 11px;
    color: rgb(2,139,255);
}

.content_1 h2{
    padding: 11px 0;
    margin-bottom: 6px;
    background-color: #e7e8f1;
    text-align: center;
    color: #001373;
    font-size: 20px;
}

.content_1 .list_2{
    display: none;
}

.content_1 button:first-child{
    background-color: white;
    color: #c40001;
}


.content_1 .col-lg-3 ul{
    padding: 8px;
    border: 1px solid #b2b2b2;
}

.content_1 .col-lg-3 ul li{
    margin: 0 0 6px 0;
    border-bottom: 1px dotted #ccc;
}

.content_1 .col-lg-3 ul li:last-child{
    border: 0;
    margin-bottom: 0;
}

.content_1 .col-lg-3 ul li a{
    line-height: 9px;
    color: #001373;
    font-size: 15px;
    font-weight: 500;
}






/* responsive */

@media (min-width: 1200px){
    .container-sm
    {
        width: 1195px;
    }

    #carouselExampleSlidesOnly{
        height: 380px;
    }
    
    header + section nav{
        display: flex !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .container-sm
    {
        width: 1195px;
    }

    #carouselExampleSlidesOnly{
        height: 380px;
    }

    header + section nav{
        display: flex !important;
    }
}

@media(min-width: 768px) and (max-width: 992px){
    .container-sm
    {
        width: 1195px;
    }

    #carouselExampleSlidesOnly{
        height: 380px;
    }

    header + section nav {
        position: absolute;
        left: 0;
        top: 42px;
        /* display: none; */
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        z-index: 5;
        background-color: #4896d1;

    }

    header + section nav div ul{
        position: relative;
        width: 100%;
        top: 0;
        box-shadow: 1px 6px 10px rgb(12 67 150 / 52%);

    }

    header + section nav div{
        width: 100%;
        border-top: 1px solid #2570b0;

    }
}

@media (min-width: 576px) and (max-width: 768px){
    .container-sm
    {
        width: 1195px;
    }

    #carouselExampleSlidesOnly{
        height: 200px;
    }

    header + section nav {
        position: absolute;
        left: 0;
        top: 42px;
        /* display: none; */
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        z-index: 5;
        background-color: #4896d1;
    }

        
    header + section nav div ul{
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: 1px 6px 10px rgb(12 67 150 / 52%);
    }

    header + section nav div{
        width: 100%;
        border-top: 1px solid #2570b0;
    }
    
}

@media (max-width: 576px){
    .container-xs
    {
        width: 100%;
    }

    #carouselExampleSlidesOnly{
        height: 200px;
    }

    header + section nav {
        position: absolute;
        left: 0;
        top: 42px;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        z-index: 5;
        background-color: #4896d1;
    }
        
    header + section nav div ul{
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: 1px 6px 10px rgb(12 67 150 / 52%);
    }

    header + section nav div{
        width: 100%;
        border-top: 1px solid #2570b0;

    }
}

